@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
	background-color: #F3F3F3;
	padding:0;
	margin:0;
}
.debug {
	border:1px solid red;
}

#hashLabel {
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
	padding:0;
	color:#555;
}
#errorMsg {
	width:500px;
	height:20px;
	margin:0 auto;
	color:#cc0000;
	font-family: 'Roboto', sans-serif;

}
#submitVal {
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color:#555;
}
.container {
	width:900px;
	margin: 0 auto;
}
#searchContent  {
	text-align: center;
}
#searchContent {
	margin-top:2em;
	background-color: white;
	border-radius:5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px; 
	box-shadow:0 0 15px #ccc;
	-moz-box-shadow:0 0 5px #ccc;
	-webkit-box-shadow:0 0 5px #ccc;
}
#searchContent h1 {
	
	margin:0;
	font-size: 6em;
	font-family: 'Grand Hotel', cursive;
	color:#125688;
}
#hashtagForm {
	padding-bottom:50px;
}
#gridviewContainer {
	position: relative;
	width:900px;
	margin:0 auto;
}

.gridHashItem {
	width:300px;
	height:300px;
	float:left;
	background-color: white;

}
.gridHashItem img  {
	width:250px;
	height:250px;

}

#lightbox {
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background-color:rgba(0, 0, 0, .6); 
    text-align:center;
}

.slideshow {
	background-color: white;
	width:500px;
	height:700px;
	border:1px solid grey;
	margin:0 auto;
	margin-top:30px;
	border-radius:5px;
	position: relative;
	box-shadow:0 10px 30px #111;
		    -webkit-box-shadow:0 10px 30px #111;
		    -moz-box-shadow:0 10px 30px #111;


}

#arrows {
	position: absolute;
	top: 40%;
	width: 800px;
	left: 50%;
	margin-left: -400px;
}
#closeContainer {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, .8);
	/*background-color: white;*/
	border-radius: 100px;
	position: absolute;
	left: 75%;
	top:3%;
	cursor: pointer;
}
#close {
	font-family: 'Roboto', sans-serif;
	font-size: 1.7em;
	padding-top:2px;
	color:#333;
	font-weight: bold;
	margin: 0;
	padding-top: 4px;
}
#previous {
	float:left;
}
#next {
	float:right;
}
.userinfo {
	width:400px;
	height:50px;
	float: left;
	text-decoration: none;
	margin: 20px 0px 0px 20px;

}
.userinfo a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color:#125688;
	font-weight: bold;
}
.userinfo img {
	width:40px;
	height:40px;
	border-radius:100px;
	display:inline;
	float:left;
}
.userinfo p {
	text-align: left;
	padding:0px;
}
.slide {
	width: 500px;
	height:700px;
	float:left;
	position: relative;
	margin:0;
	padding:0;
}
.hashImg {
	width: 470px;
	height: 470px;
}
.caption {
	max-width: 480px;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	color:#333;
	margin:0 auto;
}
#previous {
	padding-right: 20px;
}